<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 first-col order-md-2">
            
                
                  <h2 class=" text-center">Welcome Back  <span class="span-space">👋</span></h2>
                  <p class="p-text">Today is a new day. It's your day. You shape it. <br>
                    Sign in to start managing your projects.</p>
                  <form [formGroup]="Form" >
                    <div class="form-group mb-3">
                      <label for="email">Email</label>
                      <input type="email"  formControlName="email"  class="form-control" id="email" placeholder="Example@gmail.com" required>
                      <div class="input-group">
                        @if (Form.controls['email'].touched &&Form.controls['email'].errors?.['required']){
                          <span style="color: red;padding: 5px;margin: 10px;"> This field is required.</span>
                        }
                        @else if(Form.controls['email'].touched &&Form.controls['email'].errors?.['email']){
                          <span style="color: red;padding: 5px;"> Enter valid email id.</span>
                        }
                      </div>
                      
                    </div>
                    <div class="form-group mb-4" style="padding-top: 15px;">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Atleast 8 Characters" required>
                      <div class="input-group">
                        @if (Form.controls['password'].touched &&Form.controls['password'].errors?.['required']){
                          <span style="color: red; padding: 15px;"> This field is required</span>
                        }
                      </div>
                    </div>
                    <div class="forgot"><a href="#" style="text-decoration: none;">Forgot Password</a></div>
                    <button type="submit" class="btn btn-primary w-100 background" [disabled]="Form.invalid" (click)="onSave()">Login</button>
                    
                  </form>
        
                  <div class="line"></div>
        
                  
                <div class="googlediv1">
                    <a href="#" style="text-decoration: none;">
                        <img src="../../assets/google.png   " class="googlesign"  alt="">
                        <span class="gtext">Sign in with Google</span>
                    </a>
                </div>
                <div class="googlediv2">
                    <a href="#" style="text-decoration: none;">
                        <img type="image" src="assets/Facebook1.png" class="googlesign" alt="">
                        <span class="gtext">Sign in with Facebook</span>
                    </a>
                </div>
        
                <div class="account">
                    <p>Don't you have account? <a href="" style="text-decoration: none;">Sign Up</a></p>
                </div>

                <div class="footer">
                    <p>© 2023 ALL RIGHTS RESERVED</p>
                </div>

            

        </div>
        <div class="col-lg-6 col-md-6 order-md-1 order-first">
            <img src="../../assets/ffd.jpg" class="img-fluid" alt="Login Image">
        </div>
    </div>
</div>

